.jumbotron {
  color: #BB1CA0;
  font-family: 'Permanent Marker', fantasy;
  text-align: center;
  margin-top: 10px;
  background-color: #D3FCFC;
}

.Tasks {
  cursor: pointer;
  color: #103875;
}

body {
  font-family: 'Permanent Marker', fantasy;
  background-image: url(../img/water2.jpg);
  background-repeat: repeat;
  color: #BB1CA0;
}

.container {
  background-color: #D3FCFC;
}

.form-group {
  font-size: 30px;
}

#hidden-list {
  font-size: 20px;
}

ul {
    list-style-image: url('../img/narwhal3.png');
}
